@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Alata&family=Happy+Monkey&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Happy Monkey font to all elements with font-happy class */
.font-happy {
  font-family: 'Happy Monkey', cursive;
}

/* Apply Alata font to all elements with font-alata class */
.font-alata {
  font-family: 'Alata', sans-serif;
}

/* Apply Afacad font to all elements with font-afacad class */
.font-afacad {
  font-family: 'Afacad', sans-serif;
}
