@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Happy Monkey font to all elements with font-happy class */
.font-happy {
  font-family: 'Happy Monkey', cursive;
}
